/* Reset simples */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/* Navegação */

nav{
    height: 5vh;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav ul a{
    text-decoration: none;
}

nav ul li img{
    height: 10vh;
}